*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwz
*.pyzwzwzw
*.pyzwzwzwz

**/__pycache__/
**/.venv/
**/env/
**/venv/
**/ENV/
**/env.bak/
**/venv.bak/


wandb/
outputs/


# for fhe
client_context.pkl
client_context.pkl.pk
client_context.pkl.sk
server_context.pkl
server_context.pkl.pk
server_context.pkl.evalmult
server_context.pkl.evalrot

.env

conf/experiment/**/*.yaml

results/
